<body>
    <Div class="container-fluid cont1">
        <Div class="row">
            <Div class="col-md-12">
                <!-- navbar -->
                <nav class="my_navbar navbar navbar-light ">
                    <a class="navbar-brand" href="#">
                        <img alt="" src="./assets/images/git1.png" height="60" alt="">
                    </a>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Service.html">Services</a>
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </nav>
                <div [ngStyle]="{backgroundImage:'url(./assets/images/backg.png)'} "
                    style="background-repeat: no-repeat;height: 550px;width: 100%;">
                    <div class="intro">
                        <h1>
                            YOU WANT TO FIND YOUR REPO?<br>
                            HERE IS THE SOLUTION</h1>
                        <p>
                            GitHub was Founded in 2007, GitHub has brought millions of developers
                            <br>together to discover, share,
                            and build better software. Learn more about our executives, careers
                        </p>

                    </div>



                </div>
                <div class="find">
                    <h1>FIND YOUR REPOSITORY(S) HERE</h1>


                </div>
                <div class="container repo1">
                    <app-search-form (searchProf)="performSearch($event)"></app-search-form>
                    <div *ngIf="user,repo">
                        <div class="row">
                            <div class="col-sm avatar1">
                                <div class="testimonial-card">
                                    <div class="avatar pt-3" style="z-index: 4">
                                        <img src="{{ user.avatar_url }}" class="width-full border bg-white" alt="avatar"
                                            style="height: auto" alt width="260" height="260" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="testimonial-card">
                                    <div class="card-body card1">
                                       <marquee behavior="scroll" direction="up"> <h1 class="card-title" style="text-align: center">
                                            {{ user.login }}
                                        </h1>
                                    </marquee>
                                        <hr />
                                        <div style="text-align: center">
                                            <p>Bio</p>
                                            <p>{{ user.bio }}</p>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm">
                                                <p>followers</p>
                                                {{ user.followers }}
                                            </div>
                                            <div class="col-sm">
                                                <p>following</p>
                                                {{ user.following }}
                                            </div>
                                            <div class="col-sm">
                                                <p>Repositories</p>
                                                {{ user.public_repos }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="text-align: center;">

                        <div class="row">
                            <div class="col-md-6" *ngFor="let repo of userRepo" id="card">
                                <div class="card mt-3" id="card2">

                                    <h2 class="text-center pt-4 para">
                                        {{repo.name}}
                                    </h2>

                                    <p>
                                        {{repo.description}}
                                    </p>

                                    <p>
                                        {{repo.language}}
                                    </p>

                                    <div class="card-footer text-center">
                                        <a href="{{ repo.html_url }}" class="btn btn-primary" target="_blank">View on
                                            GitHub</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Footer -->
                <footer class="page-footer font-small mdb-color lighten-3 pt-4-fluid">

                    <!-- Footer Links -->
                    <div class="container text-center text-md-left">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                                <!-- Content -->
                                <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>
                                <p>GITHUB</p>
                                <p>500 Kimathi Street </p>
                                <p>Nairobi</p>


                            </div>
                            <!-- Grid column -->

                            <hr class="clearfix w-100 d-md-none">

                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">



                                <!-- Contact details -->
                                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                                <ul class="list-unstyled">

                                    <li>
                                        <p>
                                            <i class="fas fa-envelope mr-3"></i> Email:info@mbp.com
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fas fa-phone mr-3"></i> +254 01 23 567 88
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fas fa-print mr-3"></i> +254 01 234 56 89
                                        </p>
                                    </li>
                                    <!-- Facebook -->
                                    <a type="button" class="btn-floating btn-fb">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <!-- Twitter -->
                                    <a type="button" class="btn-floating btn-tw">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <!-- Google +-->
                                    <a type="button" class="btn-floating btn-gplus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </ul>

                            </div>
                            <!-- Grid column -->

                            <hr class="clearfix w-100 d-md-none">

                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                                <!-- Social buttons -->
                                <label style="width: 250px; margin-left: -25px;" for="formGroupExampleInput">Subscribe
                                    to
                                    our Newsletter</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder=" Enter your email here"
                                    style="width: 200px;">
                                <button style="margin-left: 205px; margin-top: -60px;" type="submit"
                                    class="btn btn-primary mb-2">Join</button>



                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </div>
                    <!-- Footer Links -->



                </footer>
                <!-- Footer -->
            </Div>
        </Div>
    </Div>
</body>