.formsearch{
    text-align: center;
}

.form1{
    text-align: center;
    background-color: green;
    border-radius: 20px;
    margin-top: 40px;
}
.form3{
    text-align: center;
}
.bodyform{
    text-align: center;
    
}